.vs/
Resource/
Program/Client/Bin/ShaderFiles
Program/Client/Default/x64/

Program/Engine/Default/x64/
Program/Engine/Public/assimp/

*.exe
*.idb
*.pdb
*.ilk
*.log
*.obj
*.res
*.tlog
*.exe.recipe
*.bat